.pkan-addnew {
  margin-bottom: 0.5em;
}

#content-core .pkan-addnew a {
  border-bottom: none;
}

.pkan-sparqlquery {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

#content-core .pkan-sparqlquery a {
  border-bottom: none;
}

.pkan-sparqlquery__preview {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
